<h1 class="page-header">New Article</h1>

<div class="panel panel-default">
  <div class="panel-heading">
    <% if can? :index, :article %>
    <%= link_to 'Back', admin_articles_path, class: 'btn btn-default' %>
    <% end %>
  </div>

  <div class="panel-body">
    <%= render 'form', article: @article %>
  </div>
</div>
